[run]
branch = True
parallel = True
relative_files = True
source =
    rocky-backend
    api-rocky
    granite-llm-server/app
omit =
    */tests/*
    rocky-backend/backend/test_support.py
    rocky-backend/seed-data/*

[report]
precision = 2
show_missing = True
skip_covered = True
skip_empty = True
fail_under = 69
exclude_also =
    if __name__ == .__main__.:
